apiVersion: v1
kind: Service
metadata:
  name: logging-service
  namespace: platform
  labels:
    app: logging-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
  selector:
    app: logging-service
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: logging-service
  namespace: platform
  labels:
    app: logging-service
