apiVersion: v1
kind: Service
metadata:
  name: cache-service
  labels:
    app: cache-service
    app.kubernetes.io/name: cache-service
    app.kubernetes.io/part-of: auth-platform
spec:
  type: ClusterIP
  selector:
    app: cache-service
  ports:
    - name: http
      port: 8080
      targetPort: http
    - name: grpc
      port: 9090
      targetPort: grpc
