apiVersion: v1
kind: Service
metadata:
  name: password-recovery-service
  namespace: password-recovery
  labels:
    app.kubernetes.io/name: password-recovery-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: password-recovery-service
