apiVersion: v1
kind: Service
metadata:
  name: image-processing-service
  namespace: image-processing
  labels:
    app: image-processing-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: image-processing-service
