---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - grpcroutes
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resilience.auth-platform.github.com
  resources:
  - resiliencepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resilience.auth-platform.github.com
  resources:
  - resiliencepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - resilience.auth-platform.github.com
  resources:
  - resiliencepolicies/status
  verbs:
  - get
  - patch
  - update
