apiVersion: v1
kind: Service
metadata:
  name: cache-service
  labels:
    app: cache-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
  selector:
    app: cache-service
